* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
:root {
    --primary-color: #10375c;
}
/* Common ( dùng chung ) */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 135px);
    margin: 0px auto;
}
/* Nút btn */
.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 3.33334;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    background: #2e80ce;
    border-radius: 30px;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* Các tiêu đề h2 */
.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
/* Các mô tả dưới tiêu đề h2 */
.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
/* -------------------------------------------------Phần Header------------------------------------------------------------- */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background-color: var(--primary-color);
}
/* ----------------------------Phần Header-top---------------------------- */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* -----Phần logo----- */
.logo {
    display: inline-flex;
    align-self: flex-start;
    gap: 6px;
    font-size: 1rem;
}
/* Phần hình tròn lớn logo */
.logo__circle {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #2e80ce;
}
/* Phần hình tròn nhỏ logo */
.logo__circle::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    right: 0.3em;
    bottom: 0.3em;
    background: #ffffff;
}
/* -Phần chữ logo- */
.logo__text {
    line-height: 1.4em;
    color: #ffffff;
}
/* Phần chữ "shine" logo */
.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
}
/* Phần chữ "smile" logo */
.logo__brand-2 {
    display: block;
    text-align: right;
    font-weight: 300;
    font-size: 1.2em;
}
/* -----Phần Navbar----- */
.navbar__list {
    display: flex;
    gap: 42px;
}
/* Phần các items navbar ( thẻ a ) */
.navbar__link {
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
}
/* Phần active và hover navbar */
.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #ffffff;
}
/* Dấu "." trước Home */
.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -14px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}
/* -----Phần btn Log in - Sign up */
.header-action {
    display: flex;
    align-items: center;
    gap: 28px;
}
.header-action__log-in {
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
}
.header-action__sign-up {
    min-width: 104px;
    border-radius: 22px;
    font-size: 1.6rem;
    line-height: 2.75;
}
/* ----------------------------Phần Hero---------------------------- */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}
/* -Phần hero content ( phần bên trái hero )- */
.hero__content {
    flex-shrink: 0;
    width: 44%;
}
/* Phần nội dung h1 */
.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}
/* Phần mô tả dưới h1 */
.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}
/* Phần row chứa btn và header__phone */
.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}
/* Phần số phone */
.hero__phone {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}
/* Phần hero__media ( phần bên phải hero ) */
.hero__media {
    flex: 1;
}
/* Phần chứa 2 ảnh */
.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Phần ảnh */
.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
/* Phần ảnh lớn */
.hero__img:first-child {
    /* Thêm position để đc định vị để nằm cao hơn ảnh 2 --> đè lên */
    position: relative;
    margin-right: -6px;
}
/* Phần ảnh nhỏ */
.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}
/* -------------------------------------------------Phần Main----------------------------------------------------------------*/
.service {
    padding: 170px 0px;
}
/* -Phần tiêu đề heading h2 và mô tả dưới h2- */
.service__heading,
.service__desc {
    max-width: 468px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* Phần service__row ( chứa phần bên trái và phải ) */
.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
/* -Phần ảnh lớn- ( phần bên trái ) */
.service__image {
    width: 48.7%;
    flex-shrink: 0;
}
/* Phần ảnh lớn */
.service__img {
    object-fit: cover;
    width: 100%;
    height: 570px;
    border-radius: 12px;
}
/* Phần service_list ( phần bên phải ) */
.service-item {
    display: flex;
    width: 470px;
    background: #ffffff;
    border-radius: 10px;
    gap: 19px;
    padding: 21px 0px 20px 22px;
    /* Transition: thêm thời gian chuyển đổi hiệu ứng */
    transition: 0.25s;
}
/* Phần hình icon của các service-items */
.service-item__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    color: #10375c;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    border-radius: 50%;
    /* Transition: thêm thời gian chuyển đổi hiệu ứng */
    transition: 0.25s;
}
.service-item:hover .service-item__icon-wrap {
    background: #2e80ce;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
    color: #ffffff;
}
.service-item:hover {
    /* Thêm position: relative để cho service-item đc định vị để hiệu ứng bóng đổ có thể hiện phía dưới do bị item-2-3 đè lên */
    position: relative;
    background: #ffffff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
}
/* Phần chữ h3 của các service items */
.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}
/* Phần chữ dưới h3 của các service items */
.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
/* Phần nút btn service */
.service__btn {
    margin-top: 55px;
}
